<div class="app-header-parent-div">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Custom Toolbar</span>
            <span class="example-spacer"></span>
            <mat-form-field>
                <mat-label>Favorite food</mat-label>
                <mat-select>
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-icon class="example-icon">mood</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>
</div>