<div class="app-header-parent-div">
    <mat-toolbar color="secondary">
        <mat-toolbar-row class="toolbar-row">
            <span>Death Star</span>
            <span class="example-spacer"></span>
            <mat-form-field>
                <mat-label>Country</mat-label>
                <mat-select (selectionChange)="onCountrySelectionChange($event.value)">
                  <mat-option *ngFor="let country of countries" [value]="country.value">
                    {{country.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-icon class="example-icon">mood</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>
</div>